:root{
    --main-font:'Open Sans', sans-serif;
    --second-font:'Roboto', sans-serif;

    --top-hader-link-color:#dff5f1;
    --top-header-bg-collor:#19bb9b;

    --hero-text-color:#fffcfc;

    --site-nav-color:#1f1212;
    --logo-color:#605e5e;
    --link-hover-color:#1abc9c;
    --main-title-color:#515151;
    --name-bg-color:#323232;
    --price-bg-color:#8c8c8c;

    --name-hover-bg-color:#1abc9c;
    --price-hover-bg-color:#7fd9c7;

    --news-title-color:#555252;
};

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    padding: 0;
}

img {
    display: block;
    width: 100px;
    height: auto;
  }

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

button{
    all: unset;
}

.container{
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}


/* header */

.top-header{
    background-color: var(--top-header-bg-collor);
}

.header .container{
    display: flex;
}


.contacts{
    display: flex;
   margin-right: auto;
}

.contacts__link{
    display: flex;
    align-items: center;

    font-family: var(--main-font);
    font-weight: 300;
    font-size: 14px;

    color: var(--top-hader-link-color);
    padding: 25px 15px;

    transition: all 250ms linear;
}

.phone{
    padding-left: 0;
}

.phone::before{
    display: block;
content: "";
width: 20px;
height: 21px;
background-image: url(../img/icons/phone1.png);
background-repeat: no-repeat;
background-size: cover;
margin-right: 10px;
}

.mail::before{
display: block;
content: "";
width: 25px;
height: 15px;
background-image: url(../img/icons/mail.png);
background-repeat: no-repeat;
background-size: contain;
margin-right: 10px;
}


/*  */

.user-nav{
    display: flex;
    align-items: center;
    
}

.user-nav__link{
    display: block;

    font-family: var(--main-font);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;

    color: var(--top-hader-link-color);
    padding: 25px 15px;

    transition: all 250ms linear;
}

.contacts__link:hover,
.contacts__link:focus,
.user-nav__link:hover,
.user-nav__link:focus{
    color: #fff;
}

/* bottom header */
.bottom-header .container{
    display: flex;
    align-items: center;
}


.logo{
    margin: 24px 0;
    margin-right: auto;

    font-family: var(--second-font);
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;

    color: var(--logo-color);

    
}

.logo::first-letter{
    font-weight: 700;
    color: var(--link-hover-color);
}

.site-nav{
    display: flex;
    align-items: center;
}

.site-nav__link{
    display: block;
    padding: 15px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--site-nav-color);

    transition: all 250ms linear;
}

.site-nav__link:hover,
.site-nav__link:focus{
    color: var(--link-hover-color);
}



/*  */

.banner{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/banner/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   height: 600px;
}

.hero{
text-align: center;
}

.hero__top-description{

    font-family: var(--second-font);
    font-weight: 300;
    font-size: 48px;
    

    color: var(--hero-text-color);
    margin-bottom: 20px;
}

.and{
    font-weight: 700;
    color: var(--link-hover-color);

}

.hero__bottom-description{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 48px;
    

    color: var(--hero-text-color);
    line-height: 1;

    margin-bottom: 25px;
}

.sale{
    font-weight: 700;
    color: var(--link-hover-color);
 
}

.hero__link{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14;
    text-transform: uppercase;

    color: var(--hero-text-color);

    width: 170px;
    height: 40px;
    background-color: var(--link-hover-color);

    border-radius: 5px;

    transform: scale(1);
    transition: transform 250ms linear;
    
}

.hero__link:hover,
.hero__link:focus{
    transform: scale(1.05);
}


/* //////  Fetures */

.features{
    padding-top: 100px;
    padding-bottom: 80px;
}

.fiatures-list{
    display: flex;
    align-items: center;
    
}

.fiatures-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;


    width: calc(25%-46.666666);
    margin-right: 35px;

    text-align: center;
    
}

.fiatures-list__item:last-child{
    margin-right: 0;
}

.fiatures-list__item::before{
    display: block;
    content: "";
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin-bottom: 60px;
}

.sun::before{
    background-image: url(../img/icons/setting.png);
}

.compas::before{
background-image: url(../img/icons/compass.png);
}

.world::before{
    background-image: url(../img/icons/world.png);
    }

.seif::before{
        background-image: url(../img/icons/power.png);
        }


.fiatures-list__title{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    color: var(--news-title-color);

    margin-bottom: 35px;
}

.fiatures-list__description{
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 1.6;

    color: var(--news-title-color);
}